.datatable-wrapper{ padding-top: 10px;}
.error { color: #CA2121;font-size: 12px;}

/* albums */
.album-wrapper {}
.album-wrapper .section-banner {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("../images/front-hero2.png");
    background-size: cover;
    text-align: center;
    position: relative;
    border-bottom: 5px solid #dedede;
}
.album-wrapper .section-banner .content { color: #fff}
.album-wrapper .section-banner .upload-banner-trigger { position: absolute; right: 15px;top: 15px;}
.album-wrapper .section-banner .artist-image{ height: 150px; width: 150px; border-radius: 100px;display: inline!important;}
.album-wrapper .section-banner .carousel-caption {bottom: -40px!important; font-size: 12px}
.album-wrapper .section-banner .carousel-caption h3 {font-size: 14px}
#waiting-div {left: 50%;position: absolute; display: none}
#waiting-div img {height: 50px;}
.modal-x-large{width: 100%!important;}
/*
#modal-album-banner .image-cropper img {max-width: 100%!important;}*/
#songs-table_wrapper { padding: 24px 0; font-size: 12px;}
#songs-table_wrapper .song-image{ width:20px; margin: 2px}